<div class="row">
    {% for annonce in annonces %}
        <div class="col-lg-4 col-md-12 mb-5">
            <div class="card">
                <img src=" uploads/annonces/{{annonce.photo}} " class="card-img-top" alt="{{annonce.photo}}">
                <div class="card-body">
                    <h5 class="card-title"> {{annonce.titre}} </h5>
                    <p>{{ annonce.contenu|striptags|u.truncate(150, '...') }}</p>
                    <p>
                        <a href="{{path('show_annonce', {'slug':annonce.slug, 'id' : annonce.id})}}" class="btn btn-primary">Voir les détails</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>