{% extends 'base.html.twig' %}

{% block title %}Details
{% endblock %}



{% block body %}

	<h1>Les details de cette annonce</h1>

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/uploads/annonces/{{annonce.photo}}" class="d-block w-100" alt="{{ annonce.slug }}">
						</div>
						{% for image in annonce.attachments %}
							<div class="carousel-item">
								<img src="/uploads/annonces/{{image.fileName}}" class="d-block w-100" alt="{{ annonce.slug }}">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

				<div class="card-body">
					<h5 class="card-title">
						{{annonce.titre}}
					</h5>
					<p>
						publié le :
						{{annonce.createdAt | date('d/m/Y')}}
						à
						{{annonce.createdAt | date('H:i')}}
						par auteur {{annonce.auteur.username}}
					</p>
					<p>
						Catégorie :
						{{ annonce.category }}
					</p>
					<p class="card-text">
						{{annonce.contenu}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-lg-12">
			<div class="col-lg-6">
				<h2>Liste des commentaires</h2>
				{% for comment in annonce.commentaires %}
					{% if comment.parent == null %}
						<h6>Commentaire de
							{{comment.auteur}}</h6>
						<p>Publié le
							{{comment.createdAt|date("d/m/Y H:i") }}</p>
						<div>{{comment.content|raw}}</div>
						<p>
							<a href="#ajout-commentaire" data-reply data-id="{{comment.id}}" class="btn">Répondre</a>
						</p>

						{# On affiche les réponses #}
						{% for reply in comment.replies %}
							<p>Réponse publiée par
								{{reply.nickname}}
								le
								{{reply.createdAt|date("d/m/Y H:i") }}</p>
							<div>{{reply.content|raw}}</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{parent()}}

	<script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
	<script>
		window.onload = () => {
            $('[data-reply]').on('click', function() {
                console.log("kjdskj")
            })
            
        });
}
	</script>
{% endblock %}
